#ash {
	width : 13%;
	height: 18%;
	position: absolute;
	top: 550;
}

#gameOver {
	font-size: 1;
	color: red;
}

#pokeball {
    width: 5%;
    height: 7%;
    
    position: absolute;
    top: 625;
    left: 30;
}

.pokemon{
	width : 10%;
	height: 15%;
	position: absolute;
	top: 590;
	left: 1500;
}


.hidden{
	display: none;
}
.show{
	display: inline;
}
.background{
	background : url("images/background.png") no-repeat;
	background-size: 5% 5%;
}

h1{
	text-align: center;
	font-family:Arial;
}

h2{
	text-align: center;
}

p{
	text-align: center;
	font-family:Arial;

	font-size: 50;
}
