<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<link href="/static/css/pokemon.css" type="text/css" rel="stylesheet">





<a id="SaveScore" href="/savescore" > Save Score </a>

<h1 id = "score"></h1>


<h1 id = 'controls'>Controls: Spacebar to throw pokeball. Up arrow to jump.</h1>

<h1>Highscore</h1>

<h1 id = "highscore"> </h1>
<h1>Score</h1>









<h2 id = "gameOver" class = "hidden">GAME OVER.</h2>
<div class = "background">
<body background="/static/Images/background.png">
</div>

<img id = "ash" src = "/static/Images/ash.png">

<img id = "pokeball"  class = "pokeball" src ="/static/Images/pokeball.png">

<img id = "squirtle" class = "pokemon"  src ="/static/Images/Squirtle.png">
<img id = "bulbasaur" class = "pokemon"  src ="/static/Images/Bulbasaur.png">
<img id = "charmander" class = "pokemon"  src ="/static/Images/Charmander.png">
<img id = "pikachu" class = "pokemon"   src ="/static/Images/Pickachu.png">

<canvas id="myCanvas" width="480" height="320"></canvas>




<audio src="/static/mp3/pokemon8bittheme.mp3" autoplay loop></audio>

</body>
	


<script src="/static/js/pokemon.js"></script>
